# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (don't upload large CSV)
data/
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.DS_Store?
ehthumbs.db

Resume bullet points.txt